/* !Main Navigation styling */
#main-nav {
  background: var(--light-color);
  position: sticky;
  top: 0;
  z-index: 2;
}
#main-nav .container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1rem;
  align-items: center;
}
#main-nav a {
  width: 180px;
  justify-self: start;
}
#main-nav ul {
  display: flex;
  justify-self: end;
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bolder;
}
#main-nav ul li a.current {
  background: var(--primary-color);
  color: var(--light-color);
}
#main-nav ul li a:hover {
  background: var(--dark-color);
  color: var(--light-color);
}
#main-nav .social {
  justify-self: center;
}
#main-nav .social i {
  color: #777;
  margin-right: 0.5rem;
}
/* !Showcase header styling */
#showcase {
  color: var(--light-color);
  background: var(--dark-color);
  padding: 2rem;
  position: relative;
}

#showcase:before {
  content: "";
  background: url("/assets/images/sports\ field.jpg") no-repeat center
    center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}
#showcase .showcase-content {
  z-index: 1;
}
#showcase .showcase-content p {
  margin-bottom: 1rem;
}

/* !Home articles */
#home-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  grid-column: 1 / span 2;
}
#home-articles .articles-container > *:last-child {
  grid-column: 2 / span 2;
}
#article .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
}
#article .meta .category {
  margin-top: 0.4rem;
}
/* !footer styles */
#main-footer {
  background-color: var(--dark-color);
  color: var(--light-color);
}
#main-footer img {
  width: 150px;
}
#main-footer a {
  color: var(--light-color);
}
#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}
#main-footer .footer-container > *:last-child {
  background-color: #444;
  grid-column: 1 / span 4;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}
